extends layout 

mixin checkInput(id, className, text)
  div.checkbox__container
    input(type="checkbox" id="agreeAll")
    label(for="agreeAll")= text
    img.arrow(src="/images/terms_and_conditions/right-arrow.svg", alt="right-arrow")

block stylesheet
  link(rel="stylesheet", href="/stylesheets/terms_and_conditions.css")

block content 
  body 
    header.header
      a.header__right-link(href="/")
      h2.header__title 회원가입
    form.terms-form
      div.checkbox__container.agreeAll
        input(type="checkbox" id="agreeAll")
        label(for="agreeAll") 전체동의
      +checkInput("baemin", "", "배달의 민족 이용약관 동의")
      +checkInput("fintech", "", "전자금융거래 이용약관 동의")
      +checkInput("personalInfo", "", "개인정보 수집이용 동의")
      +checkInput("personalInfoToThirdParty", "", "개인정보 제3자 제공 동의(선택)")
      +checkInput("marketing", "", "마케팅 정보 메일, SMS 수신동의(선택)")
      div 
        input(type="radio" name="age" id="age")
        label 만 14세 이상입니다.
        img.ageImage(src="/images/terms_and_conditions/over.png", alt="over_person")
      div 
        input(type="radio" name="age" id="age")
        label 만 14세 이상입니다.
        img.ageImage(src="/images/terms_and_conditions/under.png", alt="under_person")
      button.baemin-btn--primary(type="submit") 다음으로
      