.banner {
  width: 100%;
}

.loginLink {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

.loginLink p {
  flex: 1 1 100%;
  color: var(--baemin-font-gray);
  font-size: 1rem;
}

.loginLink .profile {
  width: var(--middle-img-size);
  margin-right: 0.5rem;
}

.navGrid ul {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}

.navGrid ul li {
  border: 1px solid var(--baemin-light-gray);
}

.navGrid ul li a img {
  height: var(--middle-img-size);
  margin-bottom: 0.5rem;
}

.navGrid ul li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  color: var(--baemin-font-gray);
}

.toolsLink li.campaign {
  background-color: var(--baemin-light-gray);
}

.toolsLink li.campaign .sproud {
  width: var(--middle-img-size);
  margin-right: 4px;
}

.toolsLink li.campaign a {
  background-color: white;
  padding: 0.5rem 1rem;
}

.toolsLink li.campaign p {
  flex: 1 1 100%;
  color: rgb(21, 155, 21);
}

.toolsLink li {
  padding: 1rem 0;
}

.toolsLink li a {
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.toolsLink li a div {
  flex: 1 1 100%;
}

.toolsLink li a div div {
  color: var(--baemin-font-gray);
  font-size: 0.8rem;
}

.toolsLink li a div img {
  height: var(--small-img-size);
}
