.phone-number-form {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.check__container {
  display: flex;
  flex-direction: column;
}

.check__container label {
  margin-bottom: 1rem;
}

.check__container input {
  padding: 0.5rem 0;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-bottom: 1px solid var(--baemin-gray);
}

.check__container.auth-number {
  display: none;
}

.check__container .phone-number {
  display: flex;
  align-items: center;
}

.check__container .phone-number input {
  flex: 1 1 100%;
}

.check__container .phone-number .cancle-btn {
  width: 1rem;
  height: 1rem;
  background-image: url('../images/phone_number_check/cancel-circle.png');
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  display: none;
}

.check__container .phone-number .check {
  width: 1rem;
  height: 1rem;
  background-image: url('../images/phone_number_check/validation-green.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: none;
}

.auth-number__request {
  padding: 1rem;
  outline: none;
  border: 1px solid #333;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: white;
  margin-bottom: 1rem;
}

.auth-number__request-re {
  align-self: flex-end;
  color: #63bfc1;
  font-size: 0.8rem;
  margin-bottom: 1rem;
}

.next-btn {
  display: none;
}
